<!DOCTYPE html>
<html lang="en">
<head>
    <title>Online Yoga Classes -YOGIji</title>
           {{> headerlinks}}

</head>
<body>

    <!-- home_container -->
    <section class="home_container" id="home2">
                {{> navbaryog}}

        <div class="home_text">
            <h3>WELCOME {{Name}}</h3>
            <h3>Yoga is 99% practice & 1% theory.</h3>
            <div class="learn">
               <p>Learn More</p>
            </div>
        </div>
    </section>


    <section class="select_container">
        <div class="select_para">
            <h3>Weight Loss</h3>
            <p>To change your body you  must first<br> change your mind.</p>
            <!--  -->
        </div>
        <div class="header_pose">
            <h4>BASIC POSES</h4>
        </div>
        <div class="select_basic">
            <div class="select_row">
                <div class="select_col">
                    <!-- image -->
                    <img src="Yoga_images/cat_p.jpg" class="pose_img">
                    <p><i class="fa-regular fa-heart"></i></p>
                    <h3>Cat Cow Pose</h3>
                    <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Eos officiis, esse doloribus praesentium </p>
                    <p id="time">Time: <span>00:60</span> </p>
                    <a href="/cat_pose" class="start_btn">GET STARTED</a>
                </div>
                <div class="select_col">
                    <!-- image -->
                    <img src="Yoga_images/bird_p.webp" class="pose_img">
                    <p><i class="fa-regular fa-heart"></i></p>
                    <h3>bird dog Pose</h3>
                    <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Eos officiis, esse doloribus praesentium </p>
                    <p id="time">Time: <span>00:60</span> </p>
                    <a href="/bird_dog_pose" class="start_btn">GET STARTED</a>
                </div>
                <div class="select_col">
                    <!-- image -->
                    <img src="Yoga_images/Sphinx-Pose.jpg" class="pose_img">
                    <p><i class="fa-regular fa-heart"></i></p>
                    <h3>Sphinx Pose</h3>
                    <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Eos officiis, esse doloribus praesentium </p>
                    <p id="time">Time: <span>00:60</span> </p>
                    <a href="/sphinx_pose" class="start_btn">GET STARTED</a>
                </div>
                <div class="select_col">
                    <!-- image -->
                    <img src="Yoga_images/tree_p.jpg" class="pose_img">
                    <p><i class="fa-regular fa-heart"></i></p>
                    <h3>tree Pose</h3>
                    <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Eos officiis, esse doloribus praesentium </p>
                    <p id="time">Time: <span>00:60</span> </p>
                    <a href="/tree_pose" class="start_btn">GET STARTED</a>
                </div>
                <div class="select_col">
                    <!-- image -->
                    <img src="Yoga_images/Child-Pose.webp" class="pose_img">
                    <p><i class="fa-regular fa-heart"></i></p>
                    <h3>Child Pose</h3>
                    <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Eos officiis, esse doloribus praesentium </p>
                    <p id="time">Time: <span>00:60</span> </p>
                    <a href="/child_pose" class="start_btn">GET STARTED</a>
                </div>
                <div class="select_col">
                    <!-- image -->
                    <img src="Yoga_images/Corpse-pose.jpg" class="pose_img">
                    <p><i class="fa-regular fa-heart"></i></p>
                    <h3>Corpse Pose</h3>
                    <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Eos officiis, esse doloribus praesentium </p>
                    <p id="time">Time: <span>00:60</span> </p>
                    <a href="/corpse_pose" class="start_btn">GET STARTED</a>
                </div>
            </div>
        </div>
        </div>

        <div class="header_pose">
            <h4>Intermediate  POSES</h4>
        </div>
        <div class="select_inter">
            <div class="select_row">
                <div class="select_col">
                    <!-- image -->
                    <img src="Yoga_images/Sleeping-knee.jpg" class="pose_img">
                    <p><i class="fa-regular fa-heart"></i></p>
                    <h3 id="pose_para">Sleeping knee to chest pose</h3>
                    <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Eos officiis, esse doloribus praesentium </p>
                    <p id="time">Time: <span>00:60</span> </p>
                    <a href="/knee_chest_pose" class="start_btn">GET STARTED</a>
                </div>
                <div class="select_col">
                    <!-- image -->
                    <img src="Yoga_images/Goddess-p.webp" class="pose_img">
                    <p><i class="fa-regular fa-heart"></i></p>
                    <h3>Goddess Pose</h3>
                    <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Eos officiis, esse doloribus praesentium </p>
                    <p id="time">Time: <span>00:60</span> </p>
                    <a href="/goddess_pose" class="start_btn">GET STARTED</a>
                </div>
                <div class="select_col">
                    <!-- image -->
                    <img src="Yoga_images/bent_p.jpg" class="pose_img">
                    <p><i class="fa-regular fa-heart"></i></p>
                    <h3>Forward Bend Pose</h3>
                    <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Eos officiis, esse doloribus praesentium </p>
                    <p id="time">Time: <span>00:60</span> </p>
                    <a href="/forwar_bent_pose" class="start_btn">GET STARTED</a>
                </div>
                <div class="select_col">
                    <!-- image -->
                    <img src="Yoga_images/Cobra-Pose.webp" class="pose_img">
                    <p><i class="fa-regular fa-heart"></i></p>
                    <h3>Cobra Pose</h3>
                    <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Eos officiis, esse doloribus praesentium </p>
                    <p id="time">Time: <span>00:60</span> </p>
                    <a href="/cobra_pose" class="start_btn">GET STARTED</a>
                </div>
                <div class="select_col">
                    <!-- image -->
                    <img src="Yoga_images/Walk-dog.webp" class="pose_img">
                    <p><i class="fa-regular fa-heart"></i></p>
                    <h3>Walk Dog Pose</h3>
                    <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Eos officiis, esse doloribus praesentium </p>
                    <p id="time">Time: <span>00:60</span> </p>
                    <a href="/walk_dog_pose" class="start_btn">GET STARTED</a>
                </div>
                <div class="select_col">
                    <!-- image -->
                    <img src="Yoga_images/Corpse-pose.jpg" class="pose_img">
                    <p><i class="fa-regular fa-heart"></i></p>
                    <h3>Corpse Pose</h3>
                    <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Eos officiis, esse doloribus praesentium </p>
                    <p id="time">Time: <span>00:60</span> </p>
                    <a href="/corpse_pose2" class="start_btn">GET STARTED</a>
                </div>
            </div>
        </div>

        <div class="header_pose">
            <h4>Advanced  POSES</h4>
        </div>
        <div class="select_advan">
            <div class="select_row">
                <div class="select_col">
                    <!-- image -->
                    <img src="Yoga_images/tree_p.jpg" class="pose_img">
                    <p><i class="fa-regular fa-heart"></i></p>
                    <h3>tree pose</h3>
                    <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Eos officiis, esse doloribus praesentium </p>
                    <p id="time">Time: <span>00:60</span> </p>
                    <a href="/adva_tree_pose" class="start_btn">GET STARTED</a>
                </div>
                <div class="select_col">
                    <!-- image -->
                    <img src="Yoga_images/bent_p.jpg" class="pose_img">
                    <p><i class="fa-regular fa-heart"></i></p>
                    <h3>Forward bend Pose</h3>
                    <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Eos officiis, esse doloribus praesentium </p>
                    <p id="time">Time: <span>00:60</span> </p>
                    <a href="/advan_for_bent_pose" class="start_btn">GET STARTED</a>
                </div>
                <div class="select_col">
                    <!-- image -->
                    <img src="Yoga_images/Revolved_p.jpg" class="pose_img">
                    <p><i class="fa-regular fa-heart"></i></p>
                    <h3>Revolved Bend Pose</h3>
                    <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Eos officiis, esse doloribus praesentium </p>
                    <p id="time">Time: <span>00:60</span> </p>
                    <a href="/revolved_bend_pose" class="start_btn">GET STARTED</a>
                </div>
                <div class="select_col">
                    <!-- image -->
                    <img src="Yoga_images/butterfly-pose.webp" class="pose_img">
                    <p><i class="fa-regular fa-heart"></i></p>
                    <h3>butterfly Pose</h3>
                    <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Eos officiis, esse doloribus praesentium </p>
                    <p id="time">Time: <span>00:60</span> </p>
                    <a href="/butterfly_pose" class="start_btn">GET STARTED</a>
                </div>
                <div class="select_col">
                    <!-- image -->
                    <img src="Yoga_images/garland-p.jpeg" class="pose_img">
                    <p><i class="fa-regular fa-heart"></i></p>
                    <h3>garland Pose</h3>
                    <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Eos officiis, esse doloribus praesentium </p>
                    <p id="time">Time: <span>00:60</span> </p>
                    <a href="/garland_pose" class="start_btn">GET STARTED</a>
                </div>
                <div class="select_col">
                    <!-- image -->
                    <img src="Yoga_images/Corpse-pose.jpg" class="pose_img">
                    <p><i class="fa-regular fa-heart"></i></p>
                    <h3>Corpse Pose</h3>
                    <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Eos officiis, esse doloribus praesentium </p>
                    <p id="time">Time: <span>00:60</span> </p>
                    <a href="/advan_corpse_pose" class="start_btn">GET STARTED</a>
                </div>
            </div>
        </div>

    </section>

    <!-- footer_container -->
                  {{> footeryog}}

    



    <script src="Js/yoga.js"></script>
</body>
</html>