<!DOCTYPE html>
<html lang="en">
<head>
    <title>Virtual Yoga Trainer -YOGIji</title>
{{> headerlinks}}

</head>
<body>
    
    <section class="home_container">

        {{> navbaryog}}

        <div class="home_text">
            <h3>Yoga does not just change the way we see things, <br> it transforms the person who sees.</h3>
            <div class="learn">
               <p>Learn More</p>
            </div>
        </div>

        <!-- counter part -->
        <div class="counter">
            <div class="col_1">
                <div class="sub_col">
                    <span>+</span>
                    <h3 class="num" data-val="300">000<span>+</span></h3>
                </div>
                <p>expert coaches</p>
            </div>
            <div class="col_1">
                <div class="sub_col">
                    <span>+</span>
                    <h3 class="num" data-val="2000">0000</h3>
                </div>
                <p>members joined</p>
            </div>
            <div class="col_1">
                <div class="sub_col">
                    <span>+</span>
                    <h3 class="num" data-val="600">000</h3>
                </div>
                <p>fitness programs</p>
            </div>
            <div class="col_1">
                <div class="sub_col">
                    <span>+</span>
                    <h3 class="num" data-val="400">000</h3>
                </div>
                <i class="fa-solid fa-star"></i>
                <i class="fa-solid fa-star"></i>
                <i class="fa-solid fa-star"></i>
                <i class="fa-solid fa-star"></i>
                <i class="fa-solid fa-star-half-stroke"></i>
            </div>
        </div>

        <div class="page_Count">
            <img src="Yoga_images/yogi_count.gif" class="yog_gif">
            <p>Current greeks learning <span>LIVE</span>  is</p>
            <h3 class="num" data-val="700">000</h3>
        </div>
    </section>

    <!-- benefits section -->

    <section class="choose_Container">
        <p id="circle"><i class="fa-solid fa-arrow-down"></i></p>
        
        <img src="Yoga_images/yoga_chart.gif" class="chart_gif">
        <h1>The Benefits of the <br>
        <span>YogGEEK</span></h1>
        <p id="choose_para">Lorem ipsum, dolor sit amet consectetur adipisicing elit. Repellendus pariatur aspernatur suscipit sit atque ipsum mollitia! Illum ea perferendis Lorem ipsum dolor sit amet consectetur adipisicing elit. Quos, fugiat deserunt. Id, quas dignissimos veniam ipsum praesentium similique voluptates cupiditate. </p>
<div class="choose_box">
    <div class="choose_row">
        <div class="choose_col1">
            <img src="Yoga_images/power.png" class="choose_img">
            <h3>Empower your brain & <br> focus your mind</h3>
            <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Facere tenetur repellendus tempora non vel libero fugit facilis, obcaecati quis in autem vitae, sit suscipit voluptas nemo doloribus inventore beatae odio. Lorem ipsum dolor sit amet consectetur adipisicing elit</p>
        </div>
        <div class="choose_col1">
            <img src="Yoga_images/stress.png" class="choose_img" id="choose_img2">
            <h3>Relieve stress & <br> enhance your mood</h3>
            <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Facere tenetur repellendus tempora non vel libero fugit facilis, obcaecati quis in autem vitae, sit suscipit voluptas nemo doloribus inventore beatae odio. Lorem ipsum dolor sit amet consectetur adipisicing elit</p>
        </div>
        <div class="choose_col1">
            <img src="Yoga_images/immue.png" class="choose_img" id="choose_img3">
            <h3>Reduce aging & boost <br> your immune system</h3>
            <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Facere tenetur repellendus tempora non vel libero fugit facilis, obcaecati quis in autem vitae, sit suscipit voluptas nemo doloribus inventore beatae odio. Lorem ipsum dolor sit amet consectetur adipisicing elit</p>
        </div>
        <div class="choose_col1">
            <img src="Yoga_images/strong.png" class="choose_img" id="choose_img2">
            <h3>Feel connected & <br> increase your energy</h3>
            <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Facere tenetur repellendus tempora non vel libero fugit facilis, obcaecati quis in autem vitae, sit suscipit voluptas nemo doloribus inventore beatae odio. Lorem ipsum dolor sit amet consectetur adipisicing elit</p>
        </div>

    </div>
    
</div>
    </section>

    <!-- review_container -->
    <section class="review_container">
        <h3>Testimonials</h3>
            <p>What other people say</p>

            <div class="review_box_row">
                <div class="review_col">
                    <img src="Yoga_images/pic1.png" class="rev_img" id="img1">
                    <h3>Julia Sims</h3>
                    <h5>Client <span>YOGIji</span> </h5>
                    <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Dolor ut placeat error minus totam eius quae praesentium. Tempora, blanditiis eligendi! Lorem ipsum dolor sit amet consectetur adipisicing elit. Illum cum officia recusandae perspiciatis facilis</p>
                </div>
                <div class="review_col">
                    <img src="Yoga_images/pic2.png" class="rev_img" id="img2">
                    <h3>Adrian Mitch</h3>
                    <h5>Client <span>YOGIji</span> </h5>
                    <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Dolor ut placeat error minus totam eius quae praesentium. Tempora, blanditiis eligendi! Lorem ipsum dolor sit amet consectetur adipisicing elit. Illum cum officia recusandae perspiciatis facilis</p>
                </div>
                <div class="review_col">
                    <img src="Yoga_images/pic3.png" class="rev_img" id="img3">
                    <h3>Lisa Woods</h3>
                    <h5>Client <span>YOGIji</span> </h5>
                    <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Dolor ut placeat error minus totam eius quae praesentium. Tempora, blanditiis eligendi! Lorem ipsum dolor sit amet consectetur adipisicing elit. Illum cum officia recusandae perspiciatis facilis</p>
                </div>
            </div>

            <div class="review_box_row">
                <div class="review_col">
                    <img src="Yoga_images/pic4.jpg" class="rev_img" id="img4">
                    <h3>Nisha Jain</h3>
                    <h5>Client <span>YOGIji</span> </h5>
                    <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Dolor ut placeat error minus totam eius quae praesentium. Tempora, blanditiis eligendi! Lorem ipsum dolor sit amet consectetur adipisicing elit. Illum cum officia recusandae perspiciatis facilis</p>
                </div>
                <div class="review_col">
                    <img src="Yoga_images/pic5.jpg" class="rev_img" id="img5">
                    <h3>Jack Leo</h3>
                    <h5>Client <span>YOGIji</span> </h5>
                    <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Dolor ut placeat error minus totam eius quae praesentium. Tempora, blanditiis eligendi! Lorem ipsum dolor sit amet consectetur adipisicing elit. Illum cum officia recusandae perspiciatis facilis</p>
                </div>
                <div class="review_col">
                    <img src="Yoga_images/pic6.jpg" class="rev_img" id="img6">
                    <h3>Reo Wills</h3>
                    <h5>Client <span>YOGIji</span> </h5>
                    <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Dolor ut placeat error minus totam eius quae praesentium. Tempora, blanditiis eligendi! Lorem ipsum dolor sit amet consectetur adipisicing elit. Illum cum officia recusandae perspiciatis facilis</p>
                </div>
            </div>
    </section>

    <!-- training_container -->

    <section class="training_container">
        <div class="d-flex flex-column justify-content-center w-100 h-100"></div>

        <h2>Awake the world, <br> one mind at a time!</h2>
        <div class="text">
            <p>Lorem ipsum dolor, sit amet consectetur adipisicing elit. Minus cupiditate dolorem quibusdam beatae odit, optio numquam, ipsam, placeat dolore sed repellat animi voluptas quis tempora consequuntur unde facilis obcaecati facere. Lorem ipsum dolor sit amet, consectetur adipisicing elit. Sequi quo beatae voluptatibus esse a, possimus optio ex tempora eveniet eligendi.</p>
        </div>

        <div class="training_box">
            <div class="train_para">
                <p>Free Training</p>
            </div>
            <div class="train_box1">
                <div class="train_row">
                    <div class="train_col">
                        <iframe width="420" height="230" src="https://www.youtube.com/embed/gXuq4M5rU9E" title="YouTube video player" frameborder="0" allow="accelerometer; autoplay; clipboard-write; encrypted-media; gyroscope; picture-in-picture; web-share" allowfullscreen></iframe>
                        <div class="vid_info">
                            <div class="info_col1">
                                <p><i class="fa-solid fa-video"></i>VID</p>
                               </div>
                               <div class="info_col2">
                                   <div class="star">
                                       <i class="fa-solid fa-star"></i>
                                       <i class="fa-solid fa-star"></i>
                                       <i class="fa-solid fa-star"></i>
                                       <i class="fa-solid fa-star"></i>
                                       <i class="fa-solid fa-star-half-stroke"></i>
                                   </div>
                               </div>
                               <div class="info_col3">
                                   <p>free training</p>
                               </div>
                        </div>
                    </div>
                    <div class="train_col">
                        <iframe width="420" height="230" src="https://www.youtube.com/embed/Sxddnugwu-8" title="YouTube video player" frameborder="0" allow="accelerometer; autoplay; clipboard-write; encrypted-media; gyroscope; picture-in-picture; web-share" allowfullscreen></iframe>
                        <div class="vid_info" id="info2">
                            <div class="info_col1">
                                <p><i class="fa-solid fa-video"></i>VID</p>
                               </div>
                               <div class="info_col2">
                                   <div class="star">
                                       <i class="fa-solid fa-star"></i>
                                       <i class="fa-solid fa-star"></i>
                                       <i class="fa-solid fa-star"></i>
                                       <i class="fa-solid fa-star"></i>
                                       <i class="fa-solid fa-star-half-stroke"></i>
                                   </div>
                               </div>
                               <div class="info_col3">
                                   <p>free training</p>
                               </div>
                        </div>
                    </div>
                    <div class="train_col">
                        <iframe width="420" height="230" src="https://www.youtube.com/embed/X3-gKPNyrTA" title="YouTube video player" frameborder="0" allow="accelerometer; autoplay; clipboard-write; encrypted-media; gyroscope; picture-in-picture; web-share" allowfullscreen></iframe>
                        <div class="vid_info" id="info3">
                            <div class="info_col1">
                                <p><i class="fa-solid fa-video"></i>VID</p>
                               </div>
                               <div class="info_col2">
                                   <div class="star">
                                       <i class="fa-solid fa-star"></i>
                                       <i class="fa-solid fa-star"></i>
                                       <i class="fa-solid fa-star"></i>
                                       <i class="fa-solid fa-star"></i>
                                       <i class="fa-solid fa-star-half-stroke"></i>
                                   </div>
                               </div>
                               <div class="info_col3">
                                   <p>free training</p>
                               </div>
                        </div>
                    </div>
                    
                </div>
            </div>
            <div class="train_box1">
                <div class="train_row">
                    <div class="train_col">
                        <iframe width="420" height="230" src="https://www.youtube.com/embed/sTANio_2E0Q" title="YouTube video player" frameborder="0" allow="accelerometer; autoplay; clipboard-write; encrypted-media; gyroscope; picture-in-picture; web-share" allowfullscreen></iframe>
                        <div class="vid_info" id="info4">
                            <div class="info_col1">
                                <p><i class="fa-solid fa-video"></i>VID</p>
                               </div>
                               <div class="info_col2">
                                   <div class="star">
                                       <i class="fa-solid fa-star"></i>
                                       <i class="fa-solid fa-star"></i>
                                       <i class="fa-solid fa-star"></i>
                                       <i class="fa-solid fa-star"></i>
                                       <i class="fa-solid fa-star-half-stroke"></i>
                                   </div>
                               </div>
                               <div class="info_col3">
                                   <p>free training</p>
                               </div>
                        </div>
                    </div>
                    <div class="train_col">
                        <iframe width="420" height="230" src="https://www.youtube.com/embed/2eA2Koq6pTI" title="YouTube video player" frameborder="0" allow="accelerometer; autoplay; clipboard-write; encrypted-media; gyroscope; picture-in-picture; web-share" allowfullscreen></iframe>
                        <div class="vid_info" id="info5">
                            <div class="info_col1">
                                <p><i class="fa-solid fa-video"></i>VID</p>
                               </div>
                               <div class="info_col2">
                                   <div class="star">
                                       <i class="fa-solid fa-star"></i>
                                       <i class="fa-solid fa-star"></i>
                                       <i class="fa-solid fa-star"></i>
                                       <i class="fa-solid fa-star"></i>
                                       <i class="fa-solid fa-star-half-stroke"></i>
                                   </div>
                               </div>
                               <div class="info_col3">
                                   <p>free training</p>
                               </div>
                        </div>
                    </div>
                    <div class="train_col">
                        <iframe width="420" height="230" src="https://www.youtube.com/embed/Eadzp6T-em4" title="YouTube video player" frameborder="0" allow="accelerometer; autoplay; clipboard-write; encrypted-media; gyroscope; picture-in-picture; web-share" allowfullscreen></iframe>
                        <div class="vid_info" id="info6">
                            <div class="info_col1">
                                <p><i class="fa-solid fa-video"></i>VID</p>
                               </div>
                               <div class="info_col2">
                                   <div class="star">
                                       <i class="fa-solid fa-star"></i>
                                       <i class="fa-solid fa-star"></i>
                                       <i class="fa-solid fa-star"></i>
                                       <i class="fa-solid fa-star"></i>
                                       <i class="fa-solid fa-star-half-stroke"></i>
                                   </div>
                               </div>
                               <div class="info_col3">
                                   <p>free training</p>
                               </div>
                        </div>
                    </div>
                    
                </div>
            </div>

            <div class="train_btn_box">
                <button class="train_btn">All Free Training</button>
            </div>
        </div>
    </section>

    <!-- Use_container -->
    <section class="Use_container">
        <h3>How to use?</h3>
        <p>About the Online Yoga Classes</p>
        <div class="use_box">
            <div class="use_col1">
                <div class="use_img_box1">
                    <img src="Yoga_images/yog_home.gif" class="vid_gif">
                </div>
                <div class="use_img_box2">
                    <video autoplay loop muted plays-inline class="Video_home">
                        <source src="Yoga_images/tree_home.mp4" type="video/mp4">
                    </video>
                </div>
            </div>
            <div class="use_col2">
                <h1>YogGEEK</h1>
                <p>PRESENTS</p>
                <h3>virtual yoga trainer</h3>
                <h1 id="title">YogiJi</h1>

                <div class="yog_para">
                    <p>YogiJi is a computer program or application that utilizes artificial intelligence to guide individuals through yoga routines and poses. the goal of an YogiJi is to enhance the yoga experience for individuals by providing tailored guidance and feedback in a convenient, accessible format.</p>
                </div>

                <div class="yog_avag">
                    <h1> <span id="yog_txt">YogiJi</span> hepls GEEKS in</h1>
                    <ul>
                        <li><i class="fa-solid fa-check"></i> <span>It is an easy option for procrastinators.</span> </li>

                        <li>
                            <i class="fa-solid fa-check"></i> <span>It is cost-effective.</span> 
                        </li>

                        <li>
                            <i class="fa-solid fa-check"></i> <span>It gives multiple options to explore.</span> 
                        </li>

                        <li>
                            <i class="fa-solid fa-check"></i> <span>It offers comfortable space.</span> 
                        </li>

                        <li>
                            <i class="fa-solid fa-check"></i> <span>It is useful and effective stretches and  yoga poses <br> in the comfort of our homes.</span>
                        </li>
                    </ul>
                </div>
            </div>
        </div>
    </section>

    <!-- details_container -->

    <!-- Intergrate form by mail -->
    
    <form action="https://formspree.io/f/mnqyzovp" method="POST">


    <section class="details_container">
        <h3>Sign up for YogGEEK</h3>
        <p>Sign up to get trainer by YogiJi</p>
        <div class="sign_box">
            <input type="text" name="name" placeholder="Your Name">
            <input type="email" name="email" placeholder="Your Email Address">
            <button class="Sign_up">Sign up</button>
        </div>
    </section>

    {{> footeryog}}


    <script src="Js/yoga.js"></script>
</body>
</html>