<!DOCTYPE html>
<html lang="en">
<head>
    <title>Walk Dog Pose - YOGIji</title>
        {{> headerlinks}}

</head>
<body>

    <!-- home_container -->
    <section class="home_container" id="walk_dog_pose_bg">
               {{> navbaryog}}


        <div class="home_text">
            <h3>The attitude of gratitude is the highest yoga</h3>
            <div class="learn">
               <p>Learn More</p>
            </div>
        </div>
    </section>

    <!-- basic pose section -->

    <section class="inter_pose_Container">
        <h3>WALK DOG POSE</h3>
        <p>Lorem ipsum dolor, sit amet consectetur adipisicing elit. Fuga, soluta!</p>

        <div class="pose_box">
            <div class="pose_col1">
                <div class="pose_banner">
                    <h4>Pose type: <span id="pose_text"> Moving the spine in a flexion and extension pattern.</span></h4>
                    <h4 id="two">Target Area: <span id="pose_text">The entire spine, from the neck to the lower back.</span></h4>
                    
                    <div class="image_box">
                        <img src="Yoga_images/walk_dog_gif.gif" class="pose_gif">
                    </div>

                    <p id="pose_head">Benefits</p>
                    <p id="pose_head1"> Relieving tension in the spine and neck, massaging the internal organs and promoting digestion, stretching the hips, back, and torso muscles, increasing spinal mobility and flexibility, stimulating the nervous system and promoting relaxation.</p>

                    <h1>Duartion: <span id="pose_dur">01:00</span></h1>
                </div>

                <div class="pose_counter">
                    <img src="Yoga_images/pose_gif.gif" class="yog_p_gif">
                    <p>Countdown Starts </p>
                    <h3 class="num_p1" id="num_p">00 : 00</h3>

                    <div class="pose_btn">
                        <p id="start" onclick="start_pose()"><i class="fa-solid fa-play" ></i></p>
                        <p id="rest" onclick="restart_pose()"><i class="fa-solid fa-rotate-right"></i></p>
                    </div>
                </div>
            </div>
            <div class="pose_col2">
                <iframe width="660" height="515" class="main_yoga_vid" src="https://www.youtube.com/embed/mRtGCEu8FZY"title="YouTube video player" frameborder="0" allow="accelerometer; autoplay; clipboard-write; encrypted-media; gyroscope; picture-in-picture; web-share" allowfullscreen></iframe>                <p id="cal_txt">Calories Burn</p>
                
                <div class="calories" id="wgt_box">
                   <div class="sign_box" id="wgt_cont">
                   <input type="text" name="name" placeholder="Your weight Here..." id="wgt_value">
                   <button class="Sign_up" id="find_btn">Find</button>
                </div>
                    
                    
                </div>
                <div class="calories">
                    <p class="mycaloriespara">Walk Dog Pose (Adho Mukha Svanasana) - <span id="resultcalories">0  </span>calories burn per minute</p>
                </div>
            </div>
        </div>
    </section>



     <!-- footer_container -->
         {{> footeryog}}



    <script src="Js/met3.js"></script>
</body>
</html>