<!-- footer_container -->
    <section class="footer_container">
        <div class="foot_row">
            <div class="foot_col1">
                <h3>contact us</h3>
                <ul>
                    <li>Address, Street name 1234,</li>
                    <li>city,ZIP, country</li>
                    <li>phone: +91 9876543211</li>
                    <li>Email: yogGeek@gmail.com</li>
                </ul>
            </div>
            <div class="foot_col1">
                <h3>Company</h3>
                <ul>
                    <li>about</li>
                    <li>products</li>
                    <li>support</li>
                </ul>
            </div>
            <div class="foot_col1">
                <h3>customers</h3>
                <ul>
                    <li>FAQ</li>
                    <li>terms of service</li>
                    <li>privacy</li>
                </ul>
            </div>
            <div class="foot_col1">
                <h3 id="foot_para">connect with us</h3>
                <div class="foot_icons">
                    <i class="fa-brands fa-twitter"></i>
                    <i class="fa-brands fa-facebook"></i>
                    <i class="fa-brands fa-youtube"></i>
                    <i class="fa-brands fa-instagram"></i>
                </div>
            </div>
        </div>
    </section>