 <nav class="navbar">
            <img src="Yoga_images/yog_logo_f.png" class="logo">

            <ul>
                <li><a href="/" id="ul_1">Home</a></li>
                <li><a href="/classess" id="ul_2">Classes</a></li>
                <li><a href="#" id="ul_3">Blog</a></li>
                <li><a href="#" id="ul_4">Products</a></li>
                <li><a href="#" id="ul_5">About Us</a></li>
                <li><a href="#" id="ul_6">Contact Us</a></li>
            </ul>

            <div class="user_search">
                <i class="fa-solid fa-magnifying-glass"></i>
                <input type="text" placeholder="Search for Asanas, poses and more">
            </div>

            <div class="user_profile">
                <a href="/login" class="log-in_btn" >Log In</a>
                <a href="/register" class="sig-in_btn" >Sign Up</a>
                <a href="/logout"><i class="fa-solid fa-right-from-bracket " style="color: #1f3551;"></i></a>
            </div>
        </nav>
